.Rproj.user
.Rhistory
.RData
.Ruserdata
2021-02-03_sea_turtle_cnv_assessment.R
CNV Analysis.Rproj
GCF_015237465.1_rCheMyd1.pri_genomic.gtf
chelonia_mynas_new_referencescaffolds.txt
genome_assemblies_genome_gtf
genome_assemblies_genome_gtf.tar
plots
readcounts
readcounts_5000BP.Rdata
*.html
SNV/inputs/*
*/inputs/*
somatypus/*
ref/*
bsgenome/*
*.log
*.txt
*.tsv
*.zip
*.tar
*.sqlite
*.pdf
*.gz
*.vcf
*.csv
*.bed
*.png
*.gff
*.fai
*.bam
mitochondrial/*
*/partials/*
